#home-image {
  position: absolute;
  background-image: url("/qa-photo.png");
  background-size: cover;
  box-shadow: inset 400px 200px 200px #101c2a, inset 0 -300px 150px #101c2a;

  inset: 0 0 0 30%;
}

@layer {
  * {
    scroll-margin-top: 14vh;
  }

  :root {
    @apply bg-qa-blue-darker;
  }

  a,
  span,
  label {
    @apply font-ar-gothic text-qa-white;
  }

  p {
    @apply font-pt-sans text-qa-white;
  }
}
