@reference "../globals.css";

@layer base {
  * {
    scroll-margin-top: 14vh;
  }

  body {
    background-color: var(--color-hw-black) !important;
  }

  a,
  span,
  label,
  p {
    font-family: var(--font-poppins);
    color: var(--color-hw-white);
  }
}
