#home-image {
  position: absolute;
  background-image: url("/plainsmen-photo.jpg");
  background-size: cover;
  opacity: 30%;
  inset: 0 0 0;
}

@layer {
  * {
    scroll-margin-top: 14vh;
  }

  body {
    @apply bg-hw-black !important;
  }

  a,
  span,
  label,
  p {
    @apply font-poppins text-hw-white;
  }
}
