@tailwind base;

#home-image {
    position: absolute;
    background-image: url("../assets/images/qa-photo.jpg");
    background-size: cover;
    box-shadow: 0 0 120px 120px #162638 inset;

    inset: 0 0 0 30%;
}

@layer {
    :root {
        @apply scroll-smooth bg-blue-darker
    }
    span, label {
        @apply font-round text-white-qa
    }
}

@tailwind components;
@tailwind utilities;
