@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    :root {
        @apply scroll-smooth overflow-x-hidden;
        color-scheme: dark;
    }

    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
    
    .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    /* React date time picker CSS */
    th.rdtSwitch, td.rdtSwitch {
        @apply text-slate-700 hover:bg-slate-300
    }

    th.rdtNext, th.rdtPrev, th.dow, .rdtPicker td.rdtDay, .rdtTimeToggle, .rdtCounter, .rdtMonth, .rdtYear {
        @apply text-slate-500
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px #F1F0EF inset !important;
        -webkit-text-fill-color: #110E0E;
    }                                                                                                           
    
}