@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    :root {
        @apply scroll-smooth overflow-x-hidden;
        color-scheme: dark;
    }

    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
    
    .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
}