@reference "./globals.css";

@layer base {
  * {
    scroll-margin-top: 10vh;
  }

  body {
    background-color: var(--color-hw-white) !important;
  }

  p,
  span,
  label,
  a {
    font-family: var(--font-poppins);
    color: var(--color-hw-black);
  }
}
